/* =================하단부분===================== */
#warp {
    width: 100%;
}

/* 970 470 */

#content {
    width: 100%;
    height: 950px;
    background-color: brown;
}

#content_h{
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 260px;
    width: 970px;
    height: 470px;
    background-color: aqua;
    display: inline-block;
}

#content_b{
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 330px;
    width: 830px;
    height: 290px;
    background-color: chartreuse;
    display: inline-block;
}



#footer {
    width: 100%;
    height: 600px;
    background-color: cadetblue;
}