/* =================상단부분===================== */
#warp {
    width: 100%;
}

#header {
    width: 100%;
    height: 100px;
}

#header_in {
    margin: 0 auto;
    width: 1180px;
    height: 100px;
    position: relative;
}

#header_in .logo {
    float: left;
    width: 270px;
    height: 100px;
    text-align: left;
    line-height: 100px;
    padding-left: 20px;
    box-sizing: border-box;
    /* 패딩을 적용했을때 요소의 크기안에 적용 */
}

#header_in .nav {
    float: left;
    margin: 35px 0 0 0;
}

#header_in .nav li {
    float: left;
    margin-right: 40px;
}

/* first-child는 li 태그중에 첫번째 */
#header_in .nav li:first-child {
    background-color: bisque;
}

/* li:nth-child(n)는 li태그중에 n번째 */
#header_in .nav li:nth-child(3) {
    background-color: blanchedalmond;
}

/* last-child는 li 태그중에 마지막번째 */
#header_in .nav li:last-child {
    margin-right: 0px;
}

#header_in .nav li a {
    font-size: 18px;
    color: #000;
}

#header_in .infomn {
    float: right;
    margin-top: 24px;
}

#header_in .infomn li {
    float: left;
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #333;
    line-height: 12px;
}

#header_in .infomn li:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}

#header_in .infomn a {
    /* li은 생략할수있다 */
    color: rgb(38, 38, 38);
    font-size: 12px;
}

#header_in .search_input {
    position: absolute;
    top: 49px;
    right: 0px;
    width: 235px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#header_in .search_input a {
    float: right;
}

/* =================내용부분===================== */
#advice {
    width: 100%;
    height: 800px;
    background-image: url(../images/bg_main_sect1.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

#advice_h {
    margin: 0 auto;
    width: 1180px;
    height: 260px;
}

#advice_h .sub_ttl {
    padding-top: 60px;
    text-align: center;
}

#advice_h .line {
    margin: 0 auto;
    margin-top: 20px;
    width: 50px;
    height: 5px;
    background-color: blue;
}

#advice_h .txt {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

#advice_b {
    margin: 0 auto;
    width: 1180px;
    height: 540px;
}

#advice_b .sub_img {
    width: 460px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

#advice_b .group {
    float: right;
    width: 710px;
    height: 500px;
}

#advice_b .list h5 {
    font-size: 28px;
    color: #fff;
    padding: 35px 0 15px 0;
}

#advice_b .list p {
    padding-top: 15px;
    font-size: 14px;
    color: #fff;
}


#advice_b .list {
    width: 100%;
    height: 260px;
}

#advice_b .list li {
    float: left;
    width: 230px;
    /* 230 230 230 */
    height: 260px;
    margin-right: 10px;
    background-color: rgb(74, 51, 225);
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}

#advice_b .list li:last-child {
    margin-right: 0px;
}

#advice_b .question {
    margin-top: 10px;
    width: 710px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

#advice_b .question_h {
    width: 100%;
    height: 50px;
    background-color: #ccc;
}

#advice_b .ttl {
    margin-left: 25px;
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
}

#advice_b .question_h .info {
    margin-right: 25px;
    float: right;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
}

/* "> a" 는 info 안에있는 자식 a를 지정된다 */
#advice_b .question_h .info>a {
    font-size: 16px;
    color: #fff;
}

#advice_b .q_list {
    margin: 0 auto;
    margin-top: 40px;
    width: 675px;
}

#advice_b .q_list li {
    float: left;
    width: 135px;
    text-align: center;
}

#advice_b .q_list p {
    padding-top: 15px;
    font-size: 14px;
}

#search {
    width: 100%;
    height: 800px;
    background-image: url(../images/bg_main_sect2.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

#search_h {
    margin: 0 auto;
    width: 1180px;
    height: 260px;
    text-align: center;
}

#search_h .sub_ttl {
    padding-top: 95px;
}

#search_h .line {
    margin: 25px auto;
    width: 50px;
    height: 3px;
    background-color: blue;
}

#search_h .txt {
    font-size: 22px;
    color: #fff;
}


#search_b {
    margin: 40px auto;
    width: 1180px;
    height: 540px;
}

#search_b .button {
    float: left;
    margin: 0 auto;
    width: 710px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
}


/* 변호사찾기 */
#search_b .button_b {
    width: 100%;
    height: 50px;
    background-color: rgb(182, 181, 181);
    
}
#search_b .button_b .ttl {
    margin-left: 25px;
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
}

#search_b .button .tag {
    float: left;
    width: 710px;
    height: 200px;
    font-size: 0px;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    overflow: hidden;
}

#search_b .tag .tag_b {
    margin: 45px 0 0 30px;
    font-size: 16px;
    
}

#search_b .tag_b .select_l {
    float: left;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
}

#search_b .tag_b .select_img {
    margin: 25px 5px 0 5px;
    float: left;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

#search_b .tag_b .select_j {
    float: left;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
}

#search_b .tag_b .select_txt {
    margin: 20px 0 0 10px;
    float: left;
    text-align: center;
    font-size: 14px;
    width: 140px;
    height: 40px;
    background-color: red;
    border-radius: 3px;
    overflow: hidden;
}

#search_b .button .banner {
    margin: 10px auto;
    float: left;
    width: 710px;
    height: 260px;
    
}
#search_b .banner .banner_b {
    margin: 11px auto;
    float: left;
    width: 710px;
    height: 260px;
}

#search_b .banner_b li {
    float: left;
    width: 220px;
    height: 250px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

#search_b .banner_b p {
    font-size: 23px;
    border: 3px;
    color: #fff;
    padding: 35px 0 0 0;
}

#search_b .banner_b li:nth-child(1) {
    background-color: blue;
}

#search_b .banner_b li:nth-child(2) {
    background-color: aqua;
}

#search_b .banner_b li:last-child {
    background-color: aquamarine;
}

#search_b .bg_banner {
    float: right;
    width: 460px;
    height: 500px;
}



#news {
    width: 100%;
    height: 800px;
    background: url(../images/bg_main_sect3.jpg) no-repeat 50% 0;
}

#news_h {
    margin: 0 auto;
    width: 1180px;
    height: 260px;
    text-align: center;
}

#news_h .sub_ttl {
    padding-top: 90px;
}

#news_h .line {
    margin: 25px auto;
    width: 50px;
    height: 3px;
    background-color: blue;
}

#news_h .txt {
    font-size: 22px;
}

#news_b {
    margin: 0 auto;
    width: 1180px;
    height: 540px;
    text-align: left;
}

#news_b .l_img {
    float: left;
    width: 380px;
    height: 360px;
    background-color: rgb(0, 246, 246);
    border-radius: 5px;
    overflow: hidden;
}

#news_b .n_list {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 0px;
}

#news_b .n_list li {
    float: left;
    /* display: inline-block; */
    width: 256.5px;
    height: 360px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#news_b .n_list li:last-child {
    margin-right: 0px;
}

#news_b .n_list li .img_area {
    width: 100%;
    height: 165px;
    background: url(../images/news01.jpg)no-repeat 0 0;
    background-size: 100%;
}

#news_b .n_list li .ttl {
    font-size: 16px;
    padding: 20px 20px 15px;
}

#news_b .n_list li .text {
    padding: 0 20px;
    font-size: 12px;
}

#news_b .n_list li .date {
    font-size: 12px;
    padding: 0 20px;
    padding-top: 20px;
    line-height: 18px;
}

#news_b .n_list li .date b {
    color: rgb(20, 0, 243);
}

#news_b .banner_list {
    width: 100%;
    height: 125px;
}

#news_b .banner_list li {
    float: left;
    margin-right: 10px;
    width: 380px;
    height: 125px;
    background-color: #f1f1f1;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    /* box-shadow: 가로좌표 세로좌표 그림자크기 색상 */
}

#news_b .banner_list li:nth-child(1) {
    background-image: url(../images/ico_kin.png);
    background-repeat: no-repeat;
    background-position: 95% 20px;
}

#news_b .banner_list li:nth-child(2) {
    background-image: url(../images/ico_dictionary.png);
    background-repeat: no-repeat;
    background-position: 95% 20px;
}

#news_b .banner_list li:last-child {
    width: 400px;
    margin-right: 0px;
}

#news_b .banner_list li h4 {
    font-size: 20px;
}

#news_b .banner_list li p {
    margin-top: 15px;
    font-size: 13px;
}

#news_b .banner_list li .input_box {
    width: 90px;
    height: 20px;
    border: 1px solid #ccc;
}

#news_b .banner_list li .select_l {
    width: 100px;
    height: 22px;
    border: 1px solid #ccc;
}

#board {
    width: 100%;
    height: 800px;
    background-color: darkred;
}

#board_h {
    margin: 0 auto;
    width: 1180px;
    height: 260px;
    background-color: indigo;
}

#board_b {
    margin: 0 auto;
    width: 1180px;
    height: 540px;
    background-color: khaki;
}

#board_b .border_li {
    float: left;
    width: 770px;
    height: 550px;
}

#board_b .border_li li {
    float: left;
    margin: 0 10px 10px 0;
    width: 380px;
    height: 245px;
    background-color: rgb(31, 199, 246);
}

/* #board_b .border_li li:nth-child(2n){ => 2n을하면 2의 배수 */
/* #board_b .border_li li:nth-child(2n-1){ => 2n -1을 하면 홀수 */
/* #board_b .border_li li:nth-child(odd){ =>  odd를 하면 홀수 */
/* #board_b .border_li li:nth-child(even){ =>  even를 하면 짝수 */
#board_b .border_li li:nth-child(2n) {
    margin: 0 0 10px 0;
}

/* #board_b .border_li li:nth-child(2n-1){
    background-color: tomato;
} */

#board_b .right_area {
    float: right;
    width: 400px;
    height: 500px;
    background-color: darkgreen;
}

#board_b .right_area>div:first-child {
    width: 100%;
    height: 360px;
    background-color: aqua;
}

#board_b .right_area>div:last-child {
    margin-top: 10px;
    width: 100%;
    height: 130px;
    background-color: bisque;
}

/* =================하단부분===================== */
#footer {
    width: 100%;
    height: 260px;
    background-color: darksalmon;
}